fastapi
uvicorn
httpx
openai
python-dotenv
langchain
google-search-results
streamlit
tiktoken
pytest
pycoingecko
responses
beautifulsoup4
wikipedia
aiohttp
python-socketio
asyncer
celery
redis
yfinance